*{
    margin-top: 0px;

}

.main{
    /* border: 2px solid; */
    background-color: rgb(231, 232, 233);
    width: 100%;
    height: 600px;
}
h1{
    color: red;
    font-size: 46px;
    padding-left: 80px;
}
span{
    color: rgb(1, 2, 26);
}
h5{
    padding-left: 83px;
    margin-top: -39px;
    font-size: 18px;
}
h3{
    float: right;
    padding-right: 150px;
    margin-top: -75px;
}
.circle{
   float: right;
   margin-right: 82px;
   margin-top: -88px;
    background-color: red;
    border-radius: 100px;
    height: 50px;
    width: 50px;
}
.mid{
    /* border: 2px solid; */
    height: 400px;
    width: 60%;
}
.lorem{
    padding-left: 80px;
}
.rightbox{
    float: right;
    margin-top: -400px;
    margin-right: 30px;
    /* border: 2px solid; */
    border-radius: 10px;
    height: 400px;
    width: 30%;
    background-color: black
}
.rtop{
    color: aliceblue;
    text-align: center;
    font-size: 30px;
}
input{
    margin-left: 4%;
    height: 30px;
    width: 90%;
}
#dil1{
    background-color: orangered;
    color: rgb(255, 255, 255);
}
.second{
    text-align: center;
}
h2{
    text-align: center;
    font-size: 40px;
}
.auto{
    display: flex;
    justify-content: space-between;
    height: 200px;
    width: 100%;


}
.a1{
    column-span: row;
    flex-direction: row;
    margin-top: 10px;
    background-color: rgb(214, 125, 17);
    height: 100px;
    width: 100px;
}
.a1:hover{
    background-color: rgb(209, 11, 199);
}
.a2{
    text-align: center;
}
.a3{
    border: 5px solid chocolate;
    height: 400px;
    width: 30%;
    margin-top: 10px;
    margin-left: 10px;
}
.a4{
    float: right;
    border: 5px solid chocolate;
    height: 400px;
    width: 30%;
    margin-top: -410px;
    margin-right: 2px;
}
.a5{
    float: right;
    border: 5px solid chocolate;
    height: 400px;
    width: 30%;
    margin-top: -410px;
    margin-right: 35%;
}
.a6{
    border: 5px solid chocolate;
    height: 400px;
    width: 30%;
    margin-top: 10px;
    margin-left: 10px;
}
.a7{
    float: right;
    border: 5px solid chocolate;
    height: 400px;
    width: 30%;
    margin-top: -410px;
    margin-right: 2px;
}
.a8{
    float: right;
    border: 5px solid chocolate;
    height: 400px;
    width: 30%;
    margin-top: -410px;
    margin-right: 35%;
}
.a9{
    border: 5px solid chocolate;
    height: 400px;
    width: 30%;
    margin-top: 10px;
    margin-left: 10px;
}
.a10{
    float: right;
    border: 5px solid chocolate;
    height: 400px;
    width: 30%;
    margin-top: -410px;
    margin-right: 2px;
}
.a11{
    float: right;
    border: 5px solid chocolate;
    height: 400px;
    width: 30%;
    margin-top: -410px;
    margin-right: 35%;
}
.a12{
    border: 5px solid chocolate;
    height: 400px;
    width: 30%;
    margin-top: 10px;
    margin-left: 10px;

}
.a13{
    float: right;
    border: 5px solid chocolate;
    height: 400px;
    width: 30%;
    margin-top: -410px;

}
.a14{
    float: right;
    border: 5px solid chocolate;
    height: 400px;
    width: 30%;
    margin-top: -410px;
    margin-right: 35%;
}
